.main-dashboard{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #CCDAD1;
}

.center{
  align-items: center;
  justify-content: center;
}