.main-dashboard{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #F6F8FC;
}

.center{
  align-items: center;
  justify-content: center;
}

.title{
  margin-top: 2rem;
  font-size: 2rem;
  font-family:Arial, Helvetica, sans-serif;
}

.dashboard-elements{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100vw;
}