header{
    width: 100%;
    z-index: 10;
}

nav{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0.25rem 2rem;
    height: var(--navbar-height);
    background-color: #34435E;
    align-items: center;
}

.logo{
    max-height: 100%;
    object-fit: contain;
    width: auto;
}

.menu{
    list-style-type: none;
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    color: #ddd;
    font-size: 12px;
}

.hamburgerButton{
    display: block;
}

.profile-picture{
    max-height: 100%;
    object-fit: contain;
    width: auto;
    border-radius: 5rem;
}

@media screen and (min-width:768px) {
    .menu{
        display: flex;
    }
    .hamburgerButton{
        display: none;
    }
}