.sidebar{
    position: fixed;
    z-index: 1;
    width: 75%;
    top: var(--navbar-height);
    right: 0;
    transition: all 0.3s;
    background-color: #4F86C6;
    height: 100vh;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.sidebar.closed{
    /* display: none; */
    right: -75%;
}

.sidebar-elements{
    padding: 1.5rem 2.5rem;
    list-style-type: none;
    background-color: #4F86C6;
    border-bottom: 2px solid black;
}

@media screen and (min-width:768px){
    .sidebar{
        display: none;
    }
}

.overlay{
    position: fixed;
    left: 0;
    top:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
    opacity: 100%;
}

.overlay.no-opacity{
    opacity: 0%;
    pointer-events: none;
}

@media screen and (min-width:768px) {
    .overlay{
        display: none;
    }
}